.feed-main {
  width: 40%;
  margin: auto;
  padding: 10px;
}

.feed-cont {
width: 60vw;
display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ifs {
    width: 60vw;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
} 

.ReactQueryDevtools{
 display: none;
}
