.menu {
    position: fixed;
    bottom: 0;
    color: black;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    height: 10vh;
    padding: 0;
    overflow: auto;
    border-top: 0.1px solid black;

}

.category {
    height: 50%;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-decoration: none;
}

.cat-text {
    font-size: 15px;
    font-weight: bold;
    color: black;
    background-color: transparent;
}