svg {
    font-size: 50px;
}
.camera b {
    font-family: 'Indie Flower';
    font-size: 50px;
    font-weight: 300;
    padding:5%;
}

.camera video {
    border-radius: 50px;
    margin-bottom: 10%;
}

.camera img {
    border-radius: 50px;
}

.camera input {
    padding: 12px 20px;
    background-color: transparent;

}

.camera {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 90%;
} 

.camera button {
    font-size: 10px;
    font-weight: 900;
    align-items: center;
}
.upload-cont {
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    margin: 0;
    padding: 0;
} 

.upload-form {
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-content: center;
    flex-direction: column;
    row-gap: 10px;
}

.upload-form input {
    font-size: 20px;
}

.upload-form button {
    height: 5vh;
    font-size: 25px;
    color: white;
}

.screens {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

#sc {
    border-color: aliceblue;
    width: 100px;
    height: 100px;
    border-radius: 40%;
}

#retake {
    display: flex;
    align-items: center;
    border-color: aliceblue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

