
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #7FBADC;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
}

.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.register-container {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    width: 65vw;
    margin: 0px 0px 20px 0px;
}

.input-field .field-label {
    font-size: 26 px;
    font-weight: 400;
    margin: 0px 0px 5px 0px;
}

.input-field .form-field {
    width: 100%;
    height: 46px;
    background-color: #457B9D;
    border-radius: 15px;
    border-color: #457B9D;
    border-style: solid;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    padding: 0px 0px 0px 10px;
    color: white;
}

.register-container .btn {
    width: 150px;
    height: 55px;
    margin: 5vh 0px 0px 0px;
    background-color: #26446E;
    border-radius: 15px;
    border-color: #26446E;
    border-style: solid;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.register-container .btn:hover {
    background-color: #457B9D;
}

.register-container .footer {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin: 10vh 0px 0px 0px;
}