
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
::placeholder {
    color: #9A8F8F;
}

.bg-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #9CBACF;
}

.register-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.register-container h1 {
    font-size: 35px;
    background-color: transparent;
}

.input-field {
    width: 65%;
    margin: 20px 0px 20px 0px;
    background-color: transparent;
}

.input-field .field-label {
    font-size: 26px;
    font-weight: 400;
    margin: 5px 0px 5px 0px;
    background-color: transparent;
}

.input-field .form-field {
    width: 100%;
    height: 46px;
    background-color: rgb(244, 229, 229);
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    padding: 0px 0px 0px 10px;
    color:  black;
}

.register-container .btn {
    width: 150px;
    height: 55px;
    margin: 5vh 0px 0px 0px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border-style: none;
    font-size: 20px;
    font-weight: 400;
    color: #9CBACF;
}

.register-container .btn:hover {
    background-color: #909496;
}

.register-container .footer {
    background-color: transparent;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin: 10vh 0px 0px 0px;
}