.safety-cont {
    width: 100vw;
    max-width: 500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9DBCE;
}

.safety {
    margin-top: 115px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 130px;
}

.safety-title {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.safety-points {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.safety-points ul {
    width: 80%;
}

.safety-points ul li {
    width: 100%;
    font-size: 25px;
    margin-bottom: 20px;
}



