.title {
    height: 70px;
    width: 90%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    color: black;
    font-size: calc(20px + 2vw);
    font-weight: bold;
    position: fixed;
    top: 0;
}