/* all styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

.profile-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

.profile {
    width: 100%;
    color: black;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.username {
    font-weight: bold;
    font-size: calc(10px + 2vh);
    width: 90%;
    margin: 0;
    padding: 0;
    height: calc(40px + 2vh);
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post-count {
    width: 100%;
    height: calc(40px + 4vh);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-count div {
    font-size: calc(5px + 2vh);
    width: 90%;
    height: calc(10px + 2vh);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.post-sect {
    border-top: 1px solid white;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a 3-column grid */
    gap: 1px;
    background-color: #FFFFFF; /* Background color of the container */
}

.post-block {
    width: calc(100% - 2px);
    aspect-ratio: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-block img {
    height: 100%;
    width: 100%;
    background-color: white;
}
